*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: var(--font-family);
}

body{
    background-color: var(--color-grey);
    padding-top:30px;
}

main{
    display:grid;
    grid-template-areas: "hdr hdr hdr"
                        "sid map ad"
                        "sid cat ad"
                        "sid lis ad"
                        "sid spc ad"
                        "ftr ftr ftr";
    grid-template-columns: 20% 60% 20%;
    gap:20px;
    padding:20px;
}

:root{
    --color-blue:#2A2C41;
    --color-grey: #EEEEEE;
    --color-white: #F4F4F8;
    --color-orange: #FFA500;
    --color-yellow: #FFD700;
    --font-family: 'Istok Web', sans-serif;
    --fontsize-small: 10px;
    --fontsize-mid: 12px;
    --fontsize-big: 16px;
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

h1{
    font-size: 24px;
}


h1 span{
    color: var(--color-orange);
    font-family: 'KC Bubble Shack';
}

nav{
    background-color: var(--color-white);
    padding: 15px 30px;
    margin:0;
    position:fixed;
    top:0;
    z-index:1000;
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    grid-area: hdr;
}

.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin:0 auto;
    padding:1 rem 0;
}

nav form{
    display:flex;
    justify-content: center;
    width:50%;
    align-items:center;
    gap:10px;
    flex: 1;
}

nav h1{
    color:var(--color-blue);
   /* -webkit-text-stroke:2px var(--color-blue);
    text-stroke:1px var(--color-blue);
    */
}

.search{
    flex:1;
    padding:0;
    margin:0;
    display: flex;
    justify-content: center;
    width:100%;
    max-width:600px;
    border:10px;
    border-radius: 10px;
    box-shadow: 0 0 8px var(--color-grey);
    overflow: hidden;
}

.search select{
    width: 120px;            
    border: none;
    background: transparent;
    padding: 0 12px;
    font-size: 16px;
    flex-shrink: 0;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;        
}

.search input[type="search"]{
    flex:1;                   
    border:none;
    padding:0 16px;
    font-size:16px;
    background:transparent;
    outline:none;
}

#category{
    margin:0;
    padding:10px;
    justify-content:center;
    align-items:center;
    width:10vw;
    max-width:100px;
    min-width:50px;
    flex:0 0 auto;
    background-color:var(--color-yellow);
    color:var(--color-blue);
    font-size:var(--fontsize-mid);
    outline:none;
    border:none;
}

.search input[type="search"]{
    border: none;
    outline: none;
    background: var(--color-grey);
    padding: 10px;
    font-size: 12px;
    color: var(--color-blue);
    width:100%;
    display: flex;
    justify-content: center;
}

#searchButton{
    border: none;
    margin:0;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: var(--color-grey);
}

nav .icon{
    display: flex;
    gap:15px;
    align-items: center;
    flex-shrink: 0;
}

nav button{
    border: none;
    outline:none;
    background: transparent;
    
}

.filter{
    grid-area:sid;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-right:0.1px solid var(--color-blue);
    font-size: var(--fontsize-mid);
    min-width: 100px;
    max-width: 150px;
    width:100%;
}

.filter-section{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin:0;
    padding: var(--fontsize-small);
    border-bottom: 0.1px solid var(--color-blue);
}

.filter-title{
    font-weight: bold;
    color:var(--color-blue);
    margin-bottom: 5px;
}


.checkbox-list label{
    display: flex;
    align-items:center;
    gap:var(--fontsize-big);
    font-size:var(--fontsize-mid);
    justify-content:space-between;
    padding: 4px 0;
    color: var(--color-blue);
}

.checkbox{
    gap:var(--fontsize-big);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: none;
}

.checkbox-list-row{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap:var(--fontsize-small);
    accent-color: var(--color-orange);
    margin: 2px;
}

.checkbox-list input,
.checkbox-list-row input{
    accent-color: var(--color-orange);
    
}

#slider{
    accent-color: var(--color-orange);
    height: 5px;
    
}

.star-rank{
    display: flex;
    justify-content: space-around;
}

.range-container{
    position: relative;
    width: 100%;
    padding-top: 10px;
}

.range-value {
    position: absolute;
    top: -20px;
    left: 0;
    transform: translateX(-50%);
    background: #2A2C41;
    color: white;
    padding: 2px 6px;
    border-radius: 6px;
    font-size: 10px;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    height: 6px;
    border-radius: 4px;
    background: #d3d3d3;
    outline: none;
}



.search-btn{
    margin: 5px;
    padding: 5px;
    background-color: var(--color-yellow);
    border-radius: var(--fontsize-small);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: var(--color-orange);
}

.map{
    grid-area:map;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:100%;
}

h3{
    font-size: var(--fontsize-mid);
    margin: 0;
    padding: 5px;
}

.category{
    grid-area: cat;
    margin: 0;
    padding:1rem 0;
    display: flex;
    flex-wrap:wrap ;
    flex-direction: row;
    gap:15px;
    margin:0rem;
    justify-content:space-around;
    overflow-x:auto;
    width: 100%;
}

.category article{
    flex:0 0 auto;
    background-color: var(--color-white);
    height: 100px;
    width: 100px;
    border-radius: 10px;
    padding: 1px;
    box-shadow:0 2px 5px rgba(0, 0, 0, 0.05);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align: center;
    cursor:pointer;
    gap:8px;
}

.category article img {
    width: 35px;
    height: 35px;
    object-fit: contain;
}

.category article p {
    margin: 0;
    padding:5px;
    display: flex;
    flex-wrap: wrap;
    font-size: var(--fontsize-small);
    color:var(--color-blue);
}

.arrowbtn{
    margin: 0;
    padding: 0;
    border: none;
}

.relevantlist{
    grid-area: lis;
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.relevantlist article{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    padding: var(--fontsize-mid);
    border-radius: var(--fontsize-small);
    display: flex;
    flex:0 0 260px;
    flex-direction: column;
    justify-content: center;
    max-width: 200px;
    max-height: 200px;
    gap: var(--fontsize-big);
    padding: 10px;
    margin: 10px;
    object-fit: contain;
    scroll-snap-align: start;
}

.rest-list{
    display: flex;
    flex-direction: row;
    margin-top: var(--fontsize-big);
    padding-top: var(--fontsize-small);
    align-items: center;
}

.profile{
    display: flex;
    flex: 0 0 auto;
    justify-content: center;
    border:50%;
    padding: 0;
    width: 100px;
    height: 100px;
}

.rest-title{
    font-size: var(--fontsize-mid);
    
}

.review-div{
    display: flex;
    flex-direction: row;
}

.review{
    font-size: 8px;
}

.rank-div{
    display: flex;
    flex-direction: row;
    font: 'IvyPresto Text';
    font-size: 20px;
}

.badge{
    width:18px;
    height:20px;
}

.star{
    flex: 0 0 auto;
    width:var(--fontsize-small);
    height: var(--fontsize-small);
}

.ad{
    grid-area:ad;
    margin:10px;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    height: 500px;
    width: 70px;
    gap: 20px;
    border: var(--color-grey);
    border-radius: var(--fontsize-small);
    overflow: hidden;
}

footer{
    grid-area:ftr;
    padding: 10%;
    margin:0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color:var(--color-blue);
    color: var(--color-white);
    font-size: var(--fontsize-small);
}

.footer-section{
    margin:0;
    padding:20px;
}